<h1>New bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie,
    # Coleção vazia inicialmente para não pesar a página
    collection: [],
    input_html: {
      data: {
        controller: "tom-select",
        # Aqui ele vai bater na rota /movies que criamos no passo 1
        tom_select_url_value: movies_path
      }
    },
    prompt: "Choose a movie..."
  %>
  <%= f.input :comment %>
  <%= f.submit "Add bookmark", class: "btn btn-success" %>
<% end %>
<%= link_to "Back to #{@list.name}", list_path(@list), class: "btn btn-primary" %>
